.login_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(41, 98, 117, 0.2);
}
.label_input{
    display: flex;
    flex-direction: column;
}

.login{
    color: white;
    text-align: center;
    font-size: 30px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    background-color: #2D394B;
    border: solid 2px #F0F8FF;
    border-radius: 7px;
}

.login_botao{
    border: none;
    height: 30px;
    color: white;
    background-color: #296275;
}

.login_botao:hover{
    background-color: #346e81;
}