.novidades_produto{
    width: 250px;
    background-color: white;
    padding: 20px;
    margin: 31px;
}

.novidade_produto_imagem{
    width: 200px;
    height: 150px;
}

.novidade_produto_descricao{
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color: black;
    padding-top: 20px;
}

.preco{
    margin-top: 10px;
    font-size: 25px;
    color: #296275;
    font-weight: 700;
}

.modo_pagamento{
    padding-left: 10px;
    color: black;
    opacity: 50%;
}

.novidade_produto_botao{
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #296275;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    padding: 12px;
}

.novidade_produto_botao:hover{
    background-color: #2d394b;
}