.carrinho{
    overflow-x: auto;
    margin-top: 40px;
}

.carrinho_table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.carrinho_table_img{
    width: 70px;
}

.carrinho_table1{
    
    text-align: center;
    

}

.input{
    width: 70px;
    padding: 10px 5px 10px 15px;
    align-items: center;
}

.carrinhothead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

.carrinho_tds{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 19px 0;
    
}

.carrinho_tbody_td{
    font-size: 13px;
    padding-top: 15px;
    color:blue;
    text-align: center;
}

.carrinho table tbody td{
    font-size: 13px;
}

.addcarrinho{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-top: 40px;
    margin-left: 50px;
}

.subtotal_h3{
    padding-bottom: 15px;
    
}

.subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

.subtotal_table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}

.subtotal_table_td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


.subtotal_botao_compra{
    color: #fff;
    padding: 12px 20px;
    background-color: #2D394B;
}
.subtotal_botao_compra:hover{
    background-color: #073374;
}

.content{
    display: flex;
    margin: auto;
}

@media (max-width: 600px){

    .content{
        padding: 0px;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .carrinho_table{
        text-align: center;
    }

    .carrinho_table .carrinhothead{
        display: none;
    }

    .carrinho_tbody_tr{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        margin-bottom: 0px;
        justify-content: space-around;
        align-items: baseline;
        border: solid 1px #E2E9E1;
        padding-bottom: 8px;
        margin-bottom: 30px;
    }
    .carrinho_tbody_td{
        width: 200px;
        color: #2D394B;
        font-weight: 600;
    }
    .carrinho_table_img{
        width: 150px;
    }

    .addcarrinho{
        margin: 30px;
    }
    
    .subtotal{
        padding: 30px;
        width: 350px;
    }


    .subtotal_botao_compra{
        margin-right: 100px;
    }
}