.campo_info_editar{
    padding-block: 20px;
    display: flex;
    flex-direction: row;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 30px;
}

input{
    border-radius: 2px;
    border: none;
    border-bottom: solid 1px rgb(87, 87, 87);
}