.produto_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.produto_container{
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 50px;
    border: solid rgba(41, 98, 117, 0.5) 2px;
    border-radius: 15px;
    gap: 100px;
}
.campo_img{
    width: 85%;
}
.campo_img img{
    height: inherit;
    width: inherit;
}

.campo_desc{
    width: 100%;
    border-left: solid 1px rgb(41, 98, 117);
    padding-left: 40px;
}

.preco{
    font-size: 25px;
    color: #2D394B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detalhes1{
    font-size: 17px;
    margin-bottom: 20px;
}

.botao_comprar{
    width: 100%;
    border: none;
    height: 50px;
    background-color: #296275;
    color: white;
}

.botao_comprar:hover{
    background-color: #2D394B;
}

@media(max-width:600px) {

    .produto_body{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .campo_img{
        padding-left: 30px;
    }

    
    .produto_container{
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .campo_img{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: 0px;

    }
    .campo_img img{
        width: 100%;
    }

    .campo_desc{
        width: 100%;
        border-left: none;
        padding: 15px;
    }
  }